# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Thumbs.db
ehthumbs.db
Desktop.ini
.output/
ESP8266_RTOS_SDK/
ESP8266_RTOS_SDK_1.5.0/bin/
esp8266-rtos-sample-code-master/
Release/bin/eagle.flash.bin
Release/bin/eagle.irom0text.bin
Release/bin/html.bin
Release - zhandi/
/Q_Wifi_Source/lib/
/Q_Wifi_Source/net_handler/
/Q_Wifi_Source/esp_develop/