@charset "utf-8";

html{font-size:62.5%; /* 10÷16=62.5% */} 
body{font-size:12px;font-size:1.2rem; /* 12÷10=1.2 */} 

body{
	margin: 0px;
	background-color: #ffffff;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);/*手机点击时背景框颜色*/
}

ul,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;outline:none;}
a:hover,a:link,a:visited{text-decoration:none;}
a:focus,input:focus{outline:none;}

input,textarea,button,select{
	appearance:none; 
	-moz-appearance:none; /* Firefox */ 
	-webkit-appearance:none; /* Safari 和 Chrome */
	
	border-radius:0;
	border:none;
	outline:none; 
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
} 

select{	
  background-color: transparent;
  overflow: hidden; /*隐藏了小三角*/
}

select::-ms-expand {display:none;}

.hidden{display:none}

/*user style*/
#page_hd{
	background-color: #00bdf3;
	color: #fff;
	padding: 1rem 1rem 1rem 1rem;
	font-size: 2rem;
}

/*menu select*/
#page_sel{
	display:inline;
	float:right;
	padding-right:0.2rem;	
}

#page_menu{
	display:none;
	position:absolute;
	right:0;
	font-size: 1.8rem;
	z-index:999;
}

#page_menu li{
	margin:1px;
	padding:0.4rem 1rem 0.4rem 1rem;	
	background-color:#666;
	color:#fff;
}

#page_menu a,#page_menu a:hover,#page_menu a:link,#page_menu a:visited{
	color:#fff;
}

#page_shade_site{
	position:relative;
}

#page_shade{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	z-index:100;
	
	filter: alpha(opacity=20); 
	opacity:0.2;
	-moz-opacity:0.2;
}

.img_logo{
	padding:1rem;
}

/*login wifi ap form*/
.form_line{
	padding-left:4rem;
	padding-right:4rem;
	margin-top:0.4rem;
	margin-bottom:1rem;
}

/*form enter button*/
.btn_line{
	padding-left:1rem;
	padding-right:1rem;
}

.btn_ok{
	font-size: 1.8rem;
	background-color: #00bdf3;
	color: #fff;
	text-align: center;
	width: 100%;
	padding: 1rem;
}

/*form itrem*/
.info_text{
	display: block;
	border-bottom: solid 1px #e5e5e5;
	color: #999;
	padding-bottom: 0.2rem;
	padding-left:0.4rem;
	margin-bottom: 0.8rem;
	font-size: 1.6rem;
}

.input_name{
	font-weight: bold;
	color: #999999;
	adding-bottom: 0.2rem;
	margin-right: 0.4rem;
	margin-bottom: 0.8rem;
	font-size: 1.6rem;
}

.input_text,.input_pw{
	display: inline;
	border-bottom: solid 1px #e5e5e5;
	color: #333;
	width: 99%;
	padding-bottom: 0.2rem;
	padding-left:0.4rem;
	margin-bottom: 0.8rem;
}

/*user help guide text*/
.guide_line{
	font-size:1.2rem;	
	border:dashed 1px #bbb;
	background-color:#f4f4f4;
	padding:0.6rem;
	margin:10px;
	letter-spacing:1px;
}

/*web return error tips*/
.tip_line{
	font-size:1.2rem;
	border:dashed 1px #FC9;
	background-color:#FFC;
	padding:0.6rem;
	margin:10px;
	letter-spacing:1px;
}

/*current dut status display table*/
.info_table{
	border: 1px solid #A4D6EE;
	background-color: #E2F5FA;
	font-size: 1.2rem;
	letter-spacing: 1px;
	color: #265362;
	line-height: 1.4rem;
	padding: 0.6rem;
}

/*mult-row config table for gpio*/
.config_line{
	margin:0.4rem 10px 1rem 10px;
}

.config_table{/*配置表格*/
	border-top:solid 1px #CCC;
	border-left:solid 1px #CCC;
	font-size:1.6rem;
	text-align:center;
}

.config_table td{/*单元格*/
	border-bottom:solid 1px #CCC;
	border-right:solid 1px #CCC;
}

.config_table th{/*第一列*/
	border-bottom:solid 1px #CCC;
	border-right:solid 1px #CCC;	
}
	
.config_table tr:first-child{/*第一行*/
	font-weight:bold;
}

.config_table tr:nth-child(odd){/*奇数行*/
	background:#f4f4f4;height:2rem;
}

.config_table tr:nth-child(even){/*偶数行*/
	background:#ffffff;height:2rem;
}

.config_sel{/*选择框*/
	vertical-align:middle;
}
<!--END-->